<nav aria-label="Progress" class="aegov-step inline-block @@if(context.stepSize){@@stepSize} @@additional-class">
    <ol role="list">
      @@for (var i = 0; i < steps.length; i++) {
        `+`<li class="relative pb-10 `+(steps[i].status === 'completed' ? 'step-completed' : '')+` `+(steps[i].status === 'current' ? 'step-current' : '')+` `+(steps[i].status === 'upcoming' ? 'step-upcoming' : '')+`">
          `+(i < steps.length - 1
            ? '<div class="step-connector-state step-connector-vertical" aria-hidden="true"></div>'
            : ''
          )+`
          <a href="`+steps[i].href+`" class="step-badge">
            `+(steps[i].status === 'current' || steps[i].status === 'upcoming' ? steps[i].number : '')+`
            <span class="sr-only">Step `+steps[i].number+`</span>
          </a>
        </li>`+`
      }
    </ol>
  </nav>


 