<div id="cookies-banner1" tabindex="-1"
    class="aegov-banner banner-notice @@if (context.bannerPosition) {@@bannerPosition} @@if (!context.bannerPosition) {banner-bottom} bg-slate-50 border-slate-700">
    <div class="py-4 banner-content max-w-screen-lg">
        <h2 class="mb-4 text-xl font-bold text-aeblack-800">
            @@message
        </h2>
        <p class="font-normal text-aeblack-800 mb-0">
            @@details
        </p>
    </div>
    <div class="flex items-center flex-shrink-0">
        <a href="@@linkUrl1" class="aegov-btn btn-secondary">@@linkText1</a>
        <a href="@@linkUrl2" class="aegov-btn btn-secondary btn-link">@@linkUrl2</a>
    </div>
</div>
	
