<div class="aegov-banner @@if (context.bannerPosition) {@@bannerPosition} @@if (!context.bannerPosition) {banner-top} bg-aered-50 border-aered-500">
    <div class="container">
        <div
            class="banner-content text-aered-600 flex flex-wrap md:flex-nowrap items-center md:justify-center gap-3">
           @@message
            <a href="@@linkUrl"
                class="aegov-link link-underline text-aered-600 hover:text-aered-700 focus-visible:ring-aered-400 focus-visible:ring-offset-aered-50">
                @@linkText
                <svg class="link-icon rtl:-scale-x-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 256 256">
                    <rect width="256" height="256" fill="none"></rect>
                    <polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
                </svg>
            </a>
        </div>
    </div>
</div>
