<div class="aegov-card card-bordered card-glow card-service @@additional-class">
    <h5 class="card-service-title line-clamp-2">
        <a href="@@titleHref">@@title</a>
    </h5>
    <p>@@description</p>
    <div class="flex items-center justify-between gap-4">
        <a href="@@linkHref" class="aegov-link">
            @@linkText
            <svg class="link-icon rtl:-scale-x-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                <rect width="256" height="256" fill="none"></rect>
                <line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                <polyline points="144 56 216 128 144 200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
            </svg>
        </a>
        <a href="@@bookmarkHref" class="text-primary-600 hover:text-primary-500">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M184,32H72A16,16,0,0,0,56,48V224a8,8,0,0,0,12.24,6.78L128,193.43l59.77,37.35A8,8,0,0,0,200,224V48A16,16,0,0,0,184,32Zm0,177.57-51.77-32.35a8,8,0,0,0-8.48,0L72,209.57V48H184Z"></path></svg>
        </a>
    </div>
</div>