<button id="@@buttonId" data-dropdown-toggle="@@dropdownId" data-dropdown-placement="@@if(context.placement){@@placement}" data-dropdown-trigger="@@if(context.trigger){@@trigger}" class="aegov-btn @@if(context.buttonClass){@@buttonClass}" type="button">
	@@buttonLabel
	<svg class="w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
		<polyline points="208 96 128 176 48 96" fill="none" stroke="currentColor"
			stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
	</svg>
</button>

<div id="@@dropdownId" class="aegov-dropdown hidden w-52">
	<div class="dropdown-body text-aeblack-600">
		<ul class="py-1" role="menu" aria-labelledby="@@buttonId">
			@@for (var i = 0; i < items.length; i++) {
                <li><a class="dropdown-item aaa" href="`+items[i].href+`">`+items[i].icon+` `+items[i].text+`</a> </li>
              }
		</ul>
	</div>
</div>


